// SECTION 2
.timeline-glimpse__section{
      #element__airballoon__1 {
        background: url('../assets/images/montgolfiere.png') no-repeat top center;
        background-size: cover;
        top: 80px;
        left: 50%;
        margin-left: 650px;
        width: 262px;
        height: 332px;
    }
    #element__flower__25 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 440px;
        left: 50%;
        margin-left: 510px;
        width: 15px;
        height: 32px;
    }
    #element__flower__26 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 280px;
        left: 50%;
        margin-left: -290px;
        width: 15px;
        height: 46px;
    }
    #element__flower__27 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 350px;
        left: 50%;
        margin-left: -350px;
        width: 15px;
        height: 35px;
    }
    #element__bush__1 {
        background: url('../assets/images/buisson_1.png') no-repeat top center;
        background-size: cover;
        top: 30px;
        left: 50%;
        margin-left: -950px;
        width: 209px;
        height: 96px;
    }
    #element__fence__2{
        background: url('../assets/images/barriere.png') no-repeat top center;
        background-size: cover; 
        top: 70px;
        left: 50%;
        margin-left: -800px;
        width: 249px;
        height: 74px;
    }
    #element__tree__6 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 60px;
        left: 50%;
        margin-left: 400px;
        width: 150px;
        height: 235px;
    }
    #element__tree__7 {
        background: url('../assets/images/arbre_3.png') no-repeat top center;
        background-size: cover;
        top: 110px;
        left: 50%;
        margin-left: -450px;
        width: 160px;
        height: 208px;
    }
    #element__flower__28 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 35px;
        left: 50%;
        margin-left: 110px;
        width: 15px;
        height: 32px;
    }
    #element__flower__29 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 580px;
        left: 50%;
        margin-left: -690px;
        width: 15px;
        height: 46px;
    }
    #element__flower__30 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 88px;
        left: 50%;
        margin-left: -250px;
        width: 15px;
        height: 35px;
    }
    #element__flower__31 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 635px;
        left: 50%;
        margin-left: -110px;
        width: 15px;
        height: 32px;
    }
    #element__flower__32 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 568px;
        left: 50%;
        margin-left: 350px;
        width: 15px;
        height: 35px;
    }
    #element__flower__33 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 435px;
        left: 50%;
        margin-left: 210px;
        width: 15px;
        height: 32px;
    }
    #element__flower__34 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 85px;
        left: 50%;
        margin-left: 235px;
        width: 15px;
        height: 32px;
    }
    #element__flower__35 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 485px;
        left: 50%;
        margin-left: -535px;
        width: 15px;
        height: 32px;
    }
    #element__flower__36 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 285px;
        left: 50%;
        margin-left: -835px;
        width: 15px;
        height: 32px;
    }
    #element__flower__37 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 186px;
        left: 50%;
        margin-left: 735px;
        width: 15px;
        height: 32px;
    }
    #element__flower__38 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 480px;
        left: 50%;
        margin-left: 640px;
        width: 15px;
        height: 46px;
    }
    #element__tree__8 {
        background: url('../assets/images/arbre_3.png') no-repeat top center;
        background-size: cover;
        top: 410px;
        left: 50%;
        margin-left: -280px;
        width: 160px;
        height: 208px;
    }
    #element__fox__1 {
        background: url('../assets/images/renard.png') no-repeat top center;
        background-size: cover;
        top: 310px;
        left: 50%;
        margin-left: -680px;
        width: 80px;
        height: 74px;
    }
    #element__bee__3 {
        background: url('../assets/images/abeille.png') no-repeat top center;
        background-size: cover;
        top: 550px;
        left: 50%;
        margin-left: -800px;
        width: 40px;
        height: 41px;
    }
    #element__flower__39 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 38px;
        left: 50%;
        margin-left: 710px;
        width: 15px;
        height: 32px;
    }
    #element__flower__40 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 568px;
        left: 50%;
        margin-left: 350px;
        width: 15px;
        height: 35px;
    }
    #element__flower__41 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 323px;
        left: 50%;
        margin-left: 327px;
        width: 15px;
        height: 46px;
    }
    #element__flower__42 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 224px;
        left: 50%;
        margin-left: -610px;
        width: 15px;
        height: 32px;
    }
    #element__cloud__2 {
        background: url('../assets/images/nuage_1.png') no-repeat top center;
        background-size: cover;
        top: 124px;
        left: 50%;
        margin-left: -610px;
        width: 204px;
        height: 102px;
    }
    #element__cloud__3 {
        background: url('../assets/images/nuage_1.png') no-repeat top center;
        background-size: cover;
        top: 524px;
        left: 50%;
        margin-left: 610px;
        width: 204px;
        height: 102px;
    }
  
}