// SECTION 1
.timeline-glimpse__section{
        #element__bee__1 {
            background: url('../assets/images/abeille_2.png') no-repeat top center;
            background-size: cover;
            top: 60px;
            left: 50%;
            margin-left: 700px;
            width: 40px;
            height: 41px;
        }
        #element__tree__2 {
            background: url('../assets/images/arbre_1.png') no-repeat top center;
            background-size: cover;
            top: 45px;
            left: 50%;
            margin-left: 350px;
            width: 150px;
            height: 235px;
        }
        #element__tree__1 {
            background: url('../assets/images/arbre_1.png') no-repeat top center;
            background-size: cover;
            top: 76px;
            left: 50%;
            margin-left: 445px;
            width: 150px;
            height: 235px;
        }
        #element__tree__3 {
            background: url('../assets/images/arbre_3.png') no-repeat top center;
            background-size: cover;
            top: 10px;
            left: 50%;
            margin-left: -495px;
            width: 160px;
            height: 208px;
        }
        #element__tree__4 {
            background: url('../assets/images/arbre_2.png') no-repeat top center;
            background-size: cover;
            top: 30px;
            left: 50%;
            margin-left: -140px;
            width: 80px;
            height: 232px;
        }
        #element__hedgehog__1 {
            background: url('../assets/images/herisson.png') no-repeat top center;
            background-size: cover;
            top: 350px;
            left: 50%;
            margin-left: 490px;
            width: 50px;
            height: 29px;
        }
        #element__flower__1 {
            background: url('../assets/images/fleur_1.png') no-repeat top center;
            background-size: cover;
            top: 40px;
            left: 50%;
            margin-left: -320px;
            width: 15px;
            height: 46px;
        }
        #element__flower__2 {
            background: url('../assets/images/fleur_2.png') no-repeat top center;
            background-size: cover;
            top: 85px;
            left: 50%;
            margin-left: -235px;
            width: 15px;
            height: 32px;
        }
        #element__flower__3 {
            background: url('../assets/images/fleur_3.png') no-repeat top center;
            background-size: cover;
            top: 65px;
            left: 50%;
            margin-left: -255px;
            width: 15px;
            height: 35px;
        }
        #element__tree__5 {
            background: url('../assets/images/arbre_2.png') no-repeat top center;
            background-size: cover;
            top: 430px;
            left: 50%;
            margin-left: 110px;
            width: 80px;
            height: 232px;
        }
        #element__flower__4 {
            background: url('../assets/images/fleur_3.png') no-repeat top center;
            background-size: cover;
            top: 265px;
            left: 50%;
            margin-left: 355px;
            width: 15px;
            height: 35px;
        }
        #element__flower__5 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 288px;
            left: 50%;
            margin-left: 325px;
            width: 15px;
            height: 32px;
        }
        #element__flower__6 {
            background: url('../assets/images/fleur_1.png') no-repeat top center;
            background-size: cover;
            top: 295px;
            left: 50%;
            margin-left: 225px;
            width: 15px;
            height: 46px;
        }
        #element__pond__1 {
            background: url('../assets/images/mare.png') no-repeat top center;
            background-size: cover;
            top: 195px;
            left: 50%;
            margin-left: -825px;
            width: 390px;
            height: 246px;
        }
        #element__flower__7 {
            background: url('../assets/images/fleur_2.png') no-repeat top center;
            background-size: cover;
            top: 120px;
            left: 50%;
            margin-left: -555px;
            width: 15px;
            height: 32px;
        }
        #element__flower__8 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 80px;
            left: 50%;
            margin-left: -634px;
            width: 15px;
            height: 32px;
        }
        #element__flower__9 {
            background: url('../assets/images/fleur_1.png') no-repeat top center;
            background-size: cover;
            top: 40px;
            left: 50%;
            margin-left: -780px;
            width: 15px;
            height: 46px;
        }
        #element__bee__2 {
            background: url('../assets/images/abeille.png') no-repeat top center;
            background-size: cover;
            top: 490px;
            left: 50%;
            margin-left: -880px;
            width: 40px;
            height: 41px;
        }
        #element__cloud__1{
            background: url('../assets/images/nuage_3.png') no-repeat top center;
            top: 490px;
            left: 50%;
            margin-left: -980px;
            width: 366px;
            height: 172px;
        }
        #element__fence__1{
            background: url('../assets/images/barriere.png') no-repeat top center;
            background-size: cover; 
            top: 490px;
            left: 50%;
            margin-left: 580px;
            width: 249px;
            height: 74px;
        }
        #element__flower__11 {
            background: url('../assets/images/fleur_2.png') no-repeat top center;
            background-size: cover;
            top: 620px;
            left: 50%;
            margin-left: 415px;
            width: 15px;
            height: 32px;
        }
        #element__flower__12 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 600px;
            left: 50%;
            margin-left: 700px;
            width: 15px;
            height: 32px;
        }
        #element__flower__13 {
            background: url('../assets/images/fleur_1.png') no-repeat top center;
            background-size: cover;
            top: 200px;
            left: 50%;
            margin-left: 870px;
            width: 15px;
            height: 46px;
        }
        #element__flower__14 {
            background: url('../assets/images/fleur_2.png') no-repeat top center;
            background-size: cover;
            top: 620px;
            left: 50%;
            margin-left: -415px;
            width: 15px;
            height: 32px;
        }
        #element__flower__15 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 640px;
            left: 50%;
            margin-left: -500px;
            width: 15px;
            height: 32px;
        }
        #element__flower__16 {
            background: url('../assets/images/fleur_1.png') no-repeat top center;
            background-size: cover;
            top: 580px;
            left: 50%;
            margin-left: -290px;
            width: 15px;
            height: 46px;
        }
        #element__flower__17 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 500px;
            left: 50%;
            margin-left: -250px;
            width: 15px;
            height: 32px;
        }
        #element__flower__18 {
            background: url('../assets/images/fleur_3.png') no-repeat top center;
            background-size: cover;
            top: 575px;
            left: 50%;
            margin-left: -155px;
            width: 15px;
            height: 35px;
        }
        #element__flower__19 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 40px;
            left: 50%;
            margin-left: 550px;
            width: 15px;
            height: 32px;
        }
        #element__flower__20 {
            background: url('../assets/images/fleur_2.png') no-repeat top center;
            background-size: cover;
            top: 60px;
            left: 50%;
            margin-left: 680px;
            width: 15px;
            height: 32px;
        }
        #element__flower__21 {
            background: url('../assets/images/fleur_2.png') no-repeat top center;
            background-size: cover;
            top: 290px;
            left: 50%;
            margin-left: 760px;
            width: 15px;
            height: 32px;
        }
        #element__flower__22 {
            background: url('../assets/images/fleur_4.png') no-repeat top center;
            background-size: cover;
            top: 440px;
            left: 50%;
            margin-left: 510px;
            width: 15px;
            height: 32px;
        }
        #element__flower__23 {
            background: url('../assets/images/fleur_1.png') no-repeat top center;
            background-size: cover;
            top: 280px;
            left: 50%;
            margin-left: -290px;
            width: 15px;
            height: 46px;
        }
        #element__flower__24 {
            background: url('../assets/images/fleur_3.png') no-repeat top center;
            background-size: cover;
            top: 350px;
            left: 50%;
            margin-left: -350px;
            width: 15px;
            height: 35px;
        }
}