// SECTION 3
.timeline-glimpse__section {
    #element__house__1 {
        background: url('../assets/images/maison.png') no-repeat top center;
        background-size: cover;
        top: 0px;
        left: 50%;
        margin-left: 350px;
        width: 591px;
        height: 358px;
    }
    #element__fence__3{
        background: url('../assets/images/barriere.png') no-repeat top center;
        background-size: cover; 
        top: 70px;
        left: 50%;
        margin-left: -300px;
        width: 249px;
        height: 74px;
    }
    #element__tree__9 {
        background: url('../assets/images/arbre_2.png') no-repeat top center;
        background-size: cover;
        top: 30px;
        left: 50%;
        margin-left: -740px;
        width: 80px;
        height: 232px;
    }
    #element__cloud__4 {
        background: url('../assets/images/nuage_2.png') no-repeat top center;
        background-size: cover;
        top: 230px;
        left: 50%;
        margin-left: -1090px;
        width: 427px;
        height: 198px;
    }
    #element__deer__1 {
        background: url('../assets/images/cerf.png') no-repeat top center;
        background-size: cover;
        top: 430px;
        left: 50%;
        margin-left: -620px;
        width: 190px;
        height: 295px;
    }
    #element__pond__2 {
        background: url('../assets/images/mare.png') no-repeat top center;
        background-size: cover;
        top: 110px;
        left: 50%;
        margin-left: -525px;
        width: 200px;
        height: 126px;
    }
    #element__pond__3 {
        background: url('../assets/images/mare.png') no-repeat top center;
        background-size: cover;
        top: 500px;
        left: 50%;
        margin-left: 725px;
        width: 150px;
        height: 94px;
    }
    #element__flower__43 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 120px;
        left: 50%;
        margin-left: -555px;
        width: 15px;
        height: 32px;
    }
    #element__flower__44 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 80px;
        left: 50%;
        margin-left: -634px;
        width: 15px;
        height: 32px;
    }
    #element__flower__45 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 40px;
        left: 50%;
        margin-left: -780px;
        width: 15px;
        height: 46px;
    }
    #element__flower__46 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 220px;
        left: 50%;
        margin-left: -486px;
        width: 15px;
        height: 32px;
    }
    #element__flower__47 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 380px;
        left: 50%;
        margin-left: 434px;
        width: 15px;
        height: 32px;
    }
    #element__flower__48 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 440px;
        left: 50%;
        margin-left: 780px;
        width: 15px;
        height: 46px;
    }
    #element__flower__49 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 420px;
        left: 50%;
        margin-left: 418px;
        width: 15px;
        height: 32px;
    }
    #element__flower__50 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 380px;
        left: 50%;
        margin-left: -334px;
        width: 15px;
        height: 32px;
    }
    #element__flower__51 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 40px;
        left: 50%;
        margin-left: 380px;
        width: 15px;
        height: 46px;
    }
    #element__flower__52 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 440px;
        left: 50%;
        margin-left: -680px;
        width: 15px;
        height: 46px;
    }
    #element__flower__53 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 568px;
        left: 50%;
        margin-left: 350px;
        width: 15px;
        height: 35px;
    }
    #element__flower__54 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 15px;
        left: 50%;
        margin-left: -250px;
        width: 15px;
        height: 35px;
    }
    #element__flower__55 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 85px;
        left: 50%;
        margin-left: -350px;
        width: 15px;
        height: 46px;
    }
    #element__tree__10 {
        background: url('../assets/images/arbre_3.png') no-repeat top center;
        background-size: cover;
        top: 435px;
        left: 50%;
        margin-left: 70px;
        width: 160px;
        height: 208px;
    }
    #element__flower__56 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 437px;
        left: 50%;
        margin-left: -108px;
        width: 15px;
        height: 32px;
    }
    #element__flower__57 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 580px;
        left: 50%;
        margin-left: -204px;
        width: 15px;
        height: 32px;
    }
    #element__flower__58 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 640px;
        left: 50%;
        margin-left: -880px;
        width: 15px;
        height: 46px;
    }
    #element__tree__11 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 0px;
        left: 50%;
        margin-left: 200px;
        width: 150px;
        height: 235px;
    }
    #element__flower__59 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 580px;
        left: 50%;
        margin-left: 690px;
        width: 15px;
        height: 46px;
    }
    #element__flower__60 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 188px;
        left: 50%;
        margin-left: -250px;
        width: 15px;
        height: 35px;
    }
    #element__flower__61 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 335px;
        left: 50%;
        margin-left: 180px;
        width: 15px;
        height: 32px;
    }
    #element__bee__4 {
        background: url('../assets/images/abeille_2.png') no-repeat top center;
        background-size: cover;
        top: 350px;
        left: 50%;
        margin-left: 880px;
        width: 40px;
        height: 41px;
    }
    #element__flower__62 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 50px;
        left: 50%;
        margin-left: 65px;
        width: 15px;
        height: 32px;
    }
    #element__flower__63 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 652px;
        left: 50%;
        margin-left: 860px;
        width: 15px;
        height: 32px;
    }
    #element__fence__4{
        background: url('../assets/images/barriere.png') no-repeat top center;
        background-size: cover; 
        top: 280px;
        left: 50%;
        margin-left: 205px;
        width: 249px;
        height: 74px;
    }



}
