// SECTION 4
.timeline-glimpse__section {
    #element__mountains__1{
        background: url('../assets/images/montagnes.png') no-repeat top center;
        background-size: cover; 
        top: 390px;
        left: 50%;
        margin-left: -900px;
        width: 559px;
        height: 307px;
    }
    #element__hedgehog__2 {
        background: url('../assets/images/herisson.png') no-repeat top center;
        background-size: cover;
        top: 350px;
        left: 50%;
        margin-left: 200px;
        width: 50px;
        height: 29px;
    }
    #element__bush__2 {
        background: url('../assets/images/buisson_2.png') no-repeat top center;
        background-size: cover;
        top: 450px;
        left: 50%;
        margin-left: 680px;
        width: 234px;
        height: 111px;
    }
    #element__fox__2 {
        background: url('../assets/images/renard.png') no-repeat top center;
        background-size: cover;
        top: 510px;
        left: 50%;
        margin-left: 730px;
        width: 80px;
        height: 74px;
    }
    #element__tree__12 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 20px;
        left: 50%;
        margin-left: -200px;
        width: 150px;
        height: 235px;
    }
    #element__tree__13 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 0px;
        left: 50%;
        margin-left: -300px;
        width: 150px;
        height: 235px;
    }
    #element__tree__14 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 70px;
        left: 50%;
        margin-left: -400px;
        width: 150px;
        height: 235px;
    }
    #element__tree__15 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 200px;
        left: 50%;
        margin-left: -960px;
        width: 150px;
        height: 235px;
    }
    #element__tree__16 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 120px;
        left: 50%;
        margin-left: -700px;
        width: 150px;
        height: 235px;
    }
    #element__tree__17 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 0px;
        left: 50%;
        margin-left: -850px;
        width: 150px;
        height: 235px;
    }
    #element__pond__4 {
        background: url('../assets/images/mare.png') no-repeat top center;
        background-size: cover;
        top: 130px;
        left: 50%;
        margin-left: -565px;
        width: 150px;
        height: 94px;
    }
    #element__flower__64 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 100px;
        left: 50%;
        margin-left: -555px;
        width: 15px;
        height: 32px;
    }
    #element__flower__65 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 10px;
        left: 50%;
        margin-left: -634px;
        width: 15px;
        height: 32px;
    }
    #element__flower__66 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 40px;
        left: 50%;
        margin-left: -700px;
        width: 15px;
        height: 46px;
    }
    #element__flower__67 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 220px;
        left: 50%;
        margin-left: -430px;
        width: 15px;
        height: 32px;
    }
    #element__flower__68 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 658px;
        left: 50%;
        margin-left: -534px;
        width: 15px;
        height: 32px;
    }
    #element__flower__69 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 588px;
        left: 50%;
        margin-left: 534px;
        width: 15px;
        height: 32px;
    }
    #element__flower__70 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 186px;
        left: 50%;
        margin-left: 735px;
        width: 15px;
        height: 32px;
    }
    #element__flower__71 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 480px;
        left: 50%;
        margin-left: 640px;
        width: 15px;
        height: 46px;
    }
    #element__flower__72 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 180px;
        left: 50%;
        margin-left: 240px;
        width: 15px;
        height: 46px;
    }
    #element__cloud__5{
        background: url('../assets/images/nuage_3.png') no-repeat top center;
        top: 490px;
        left: 50%;
        margin-left: 380px;
        width: 366px;
        height: 172px;
    }
    #element__cloud__6 {
        background: url('../assets/images/nuage_1.png') no-repeat top center;
        background-size: cover;
        top: 124px;
        left: 50%;
        margin-left: 710px;
        width: 204px;
        height: 102px;
    }
    #element__flower__73 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 38px;
        left: 50%;
        margin-left: 710px;
        width: 15px;
        height: 32px;
    }
    #element__flower__74 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 568px;
        left: 50%;
        margin-left: 350px;
        width: 15px;
        height: 35px;
    }
    #element__flower__75 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 64px;
        left: 50%;
        margin-left: 327px;
        width: 15px;
        height: 46px;
    }
    #element__flower__76 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 224px;
        left: 50%;
        margin-left: 610px;
        width: 15px;
        height: 32px;
    }
    #element__flower__77 {
        background: url('../assets/images/fleur_4.png') no-repeat top center;
        background-size: cover;
        top: 288px;
        left: 50%;
        margin-left: 325px;
        width: 15px;
        height: 32px;
    }
    #element__flower__78 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 295px;
        left: 50%;
        margin-left: 825px;
        width: 15px;
        height: 46px;
    }
    #element__flower__79 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 386px;
        left: 50%;
        margin-left: -135px;
        width: 15px;
        height: 32px;
    }
    #element__flower__80 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 394px;
        left: 50%;
        margin-left: -235px;
        width: 15px;
        height: 32px;
    }
    #element__flower__81 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 495px;
        left: 50%;
        margin-left: -325px;
        width: 15px;
        height: 46px;
    }
    #element__flower__82 {
        background: url('../assets/images/fleur_1.png') no-repeat top center;
        background-size: cover;
        top: 585px;
        left: 50%;
        margin-left: -127px;
        width: 15px;
        height: 46px;
    }
    #element__flower__83 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 82px;
        left: 50%;
        margin-left: 135px;
        width: 15px;
        height: 32px;
    }
    #element__flower__84 {
        background: url('../assets/images/fleur_2.png') no-repeat top center;
        background-size: cover;
        top: 382px;
        left: 50%;
        margin-left: 435px;
        width: 15px;
        height: 32px;
    }
    #element__flower__85 {
        background: url('../assets/images/fleur_3.png') no-repeat top center;
        background-size: cover;
        top: 97px;
        left: 50%;
        margin-left: 470px;
        width: 15px;
        height: 35px;
    }
    #element__tree__18 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 300px;
        left: 50%;
        margin-left: 160px;
        width: 150px;
        height: 235px;
    }
    #element__tree__19 {
        background: url('../assets/images/arbre_1.png') no-repeat top center;
        background-size: cover;
        top: 200px;
        left: 50%;
        margin-left: 475px;
        width: 150px;
        height: 235px;
    }


}