$fa-font-path: '~font-awesome/fonts';

// Breakpoints
$breakpoint-large: 992px;

// Définition des couleurs 
$color-grey: #e9e7e8;
$color-beige: #fae9db;
$color-blue: #7accc8;
$color-green: #7db995; 
$color-orange: #fdc689; 
$color-white: #ffffff;

// Attribution des couleurs:

// Définition des fonts :
$font-family-main:'Open Sans', sans-serif;
$font-family-alt:'Montserrat', sans-serif;
$font-family-fallback:'Helvetica', Arial, sans-serif;

// Font-size :
$font-size-title-m: 2rem;
$font-size-title-l: 2.5rem;
$font-size-title-xl: 3rem;

$font-size-default: 1rem;
$font-size-text-m: 1.3rem;
$font-size-text-l: 1.5rem;
$font-size-text-xl: 1.8rem;

// Margins
$margin-main-large: 0 5%;
$margin-main-large-top-bottom: 2% 0;



